.Suche {      
    position: absolute;
    top: 4px;
    right: 9px;
    position: relative;
    display: flex;
    align-items: flex-start;
    max-height: 28px;
    transform: translate3d(0, 0, 0);
}

.Suche {
    transition: opacity .3s, transform .3s;
    transform: translate3d(100%, 0, 0);
    opacity: 0;
}

.accordion--open .Suche {      
    transition: opacity .3s, transform .3s;
    transform: translate3d(0, 0, 0);
    opacity: 1;
}

.accordion__head--search--wrapper {
    overflow: hidden;
    display: inline-table;
    width: 200px;
}
.accordion__head--search {
    max-width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    transition: max-width .3s;
}
                
            

input {
    width: 100%;
    background-color: transparent;
    border-width: 0 0 1px 0;
    border-color: #5d6779;
    padding: 4px 8px;
    border-radius: 0 !important;
    font-size: 14px !important;
}

.Suche label {
    max-height: 28px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
}

.Suche i {
    opacity: .6;
    font-size: 14px !important;
}
                            
.Suche--accordion {
    width: 40%;
    float: right;
}